
body{
    border: 1px solid black;
    margin:0px;
    padding: 0px 100px 0px 100px;
    overflow: scroll;
}
.nice{
    clear: both;
    color:white;
    background-color: black; 
    border: 1px solid blue;
    padding: 20px;
    margin: 20px;
    font-size: 10px;
    border-radius: 100px 0px 100px  0px;

}

p{
    text-align: justify;
}

div+p{
    color: blueviolet;
    font-family: "Yuji Mai", Times, serif;
}
#img{
 position: absolute;
 top:100px;
 margin: 10px;
 z-index: 20;
    
}
section{
    position: relative;
    border: 1px solid black;
}
p[id]{
    font-size: 40px;
    color: brown;
}

div > p{
    background-color: orange;
}



#note{
    position: relative;
    top: 100px;
    right: 100px;
    color: red;
    border: 2px dashed gray;
    padding: 20px;
}

.btn{
    background-color:rgb(53, 11, 222);
    color: white;
    font-weight: bolder;
    border:1px solid blue;
    font-size: 10px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    display: inline-block;
    /*width: fit-content;*/

}

.btn:hover{
    background-color: blue;
    cursor: pointer;
}

#outer{
    position: relative;
    height: 400px;
    width: 600px;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
}

#innerR, #innerL{
    height: 100px;
   width: 100px;
}

#innerL{
    
    position: absolute;
    right:250px;
    top:150px;
    background-color: Blue;

   
}

#innerR{
    position: absolute;
    left:20px;
    bottom: 20px;
    background-color: orange;
}

.item{
    border: 1px solid black;
    width: fit-content;
    margin: 10px;
    padding: 40px;
    background-color: antiquewhite;
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    background-color: azure;
    border: 1px solid black;
    overflow: scroll;
    align-items: center;
}

div{
    border: 1px solid black;
}
